<h1>Create a new game.</h1>

<form method="POST" action="/games">
  <p>Name: <input type="text" name="name"></p>
  <p>Players: <input type="text" name="players"></p>
  <p>Manufacturer: <input type="text" name="manufacturer"></p>
  <input type="submit" value="Create">
</form>